@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", serif;
  
  --color-soft-blue: #e0f2fe;
  --color-soft-lavender: #f3e8ff;
  --color-soft-beige: #f5f5f4;
}

@variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply font-sans antialiased;
  }
}
